In [15]:
import pandas as pd

data = pd.read_csv("Placement_Prediction_data.csv")

In [16]:
data.drop("Unnamed: 0",axis=1,inplace=True)
data.drop("StudentId",axis=1,inplace=True)

In [17]:

data.head()

,CGPA,Major Projects,Workshops/Certificatios,Mini Projects,Skills,Communication Skill Rating,Internship,Hackathon,12th Percentage,10th Percentage,backlogs,PlacementStatus
0,7.5,1,1,1,6,4.4,No,No,61,79,2,NotPlaced
1,8.9,0,3,2,9,4.0,Yes,Yes,78,82,0,Placed
2,7.3,1,2,2,8,4.8,Yes,No,79,80,2,NotPlaced
3,7.5,1,1,2,8,4.4,Yes,Yes,81,80,0,Placed
4,8.3,1,2,2,8,4.5,Yes,Yes,74,88,0,Placed

In [18]:
data["Internship"]=data["Internship"].replace({"No" : 0,"Yes":1})
data["Hackathon"]=data["Hackathon"].replace({"No" : 0,"Yes":1})
data["PlacementStatus"]=data["PlacementStatus"].replace({"NotPlaced" : 0,"Placed":1})

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CGPA                        10000 non-null  float64
 1   Major Projects              10000 non-null  int64
 2   Workshops/Certificatios     10000 non-null  int64
 3   Mini Projects               10000 non-null  int64
 4   Skills                      10000 non-null  int64
 5   Communication Skill Rating  10000 non-null  float64
 6   Internship                  10000 non-null  int64
 7   Hackathon                   10000 non-null  int64
 8   12th Percentage             10000 non-null  int64
 9   10th Percentage             10000 non-null  int64
 10  backlogs                    10000 non-null  int64
 11  PlacementStatus             10000 non-null  int64
dtypes: float64(2), int64(10)
memory usage: 937.6 KB

In [20]:
data.describe()

,CGPA,Major Projects,Workshops/Certificatios,Mini Projects,Skills,Communication Skill Rating,Internship,Hackathon,12th Percentage,10th Percentage,backlogs,PlacementStatus
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000
mean,7.698010,1.049200,2.026600,1.013200,7.555200,4.323960,0.585400,0.731800,69.159400,74.501500,1.73840,0.419700
std,0.640131,0.665901,0.867968,0.904272,0.927922,0.411622,0.492677,0.443044,10.430459,8.919527,1.39512,0.493534
min,6.500000,0.000000,0.000000,0.000000,6.000000,3.000000,0.000000,0.000000,55.000000,57.000000,0.00000,0.000000
25%,7.400000,1.000000,1.000000,0.000000,7.000000,4.000000,0.000000,0.000000,59.000000,67.000000,1.00000,0.000000
50%,7.700000,1.000000,2.000000,1.000000,8.000000,4.400000,1.000000,1.000000,70.000000,73.000000,1.00000,0.000000
75%,8.200000,1.000000,3.000000,2.000000,8.000000,4.700000,1.000000,1.000000,78.000000,83.000000,3.00000,1.000000
max,9.100000,2.000000,3.000000,3.000000,9.000000,4.800000,1.000000,1.000000,90.000000,88.000000,7.00000,1.000000

In [21]:
x = data.drop("PlacementStatus",axis=1)
y=data["PlacementStatus"]

y.value_counts()

PlacementStatus
0    5803
1    4197
Name: count, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
import  numpy as np
lr=LogisticRegression()
sc = StandardScaler()

sc.fit(x)

x=sc.transform(x)
score=[]
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=20)

# pipleline
steps = [("scaler",StandardScaler()),("lr",LogisticRegression())]
pipe = Pipeline(steps)
pipe.fit(xtrain,ytrain)

[[-0.30934266 -0.07388859 -1.18282217 ... -0.4946722  -1.17741957
   0.18752012]
 [-0.46556843 -0.07388859 -0.03064784 ... -1.35757288 -0.61682367
   0.18752012]
 [ 0.94046354 -0.07388859  1.12152649 ...  1.71051844  1.51344076
  -1.24611991]
 ...
 [-0.15311688 -0.07388859 -0.03064784 ... -0.01528293 -1.06530039
  -1.24611991]
 [-0.62179421 -1.57568915 -1.18282217 ... -0.20703864 -0.84106203
   1.62116014]
 [ 0.94046354  1.42791198  1.12152649 ...  0.84761775  1.40132158
  -0.5292999 ]]

In [23]:
import joblib

joblib.dump(pipe,"model.joblib")

['model.joblib']

In [24]:
loaded_model = joblib.load("model.joblib")