In [109]:
import pandas as pd

data = pd.read_csv("Salary_prediction_data.csv")

In [110]:
data.drop("Unnamed: 0",axis=1,inplace=True)
data.drop("StudentId",axis=1,inplace=True)

In [111]:
data["Internship"]=data["Internship"].replace({"No" : 0,"Yes":1})
data["Hackathon"]=data["Hackathon"].replace({"No" : 0,"Yes":1})
data["PlacementStatus"]=data["PlacementStatus"].replace({"NotPlaced" : 0,"Placed":1})

In [112]:
data=data[data["PlacementStatus"]!=0]

data

,CGPA,Major Projects,Workshops/Certificatios,Mini Projects,Skills,Communication Skill Rating,Internship,Hackathon,12th Percentage,10th Percentage,backlogs,PlacementStatus,salary
1,8.9,0,3,2,9,4.0,1,1,78,82,0,1,1000000
3,7.5,1,1,2,8,4.4,1,1,81,80,0,1,950000
4,8.3,1,2,2,8,4.5,1,1,74,88,0,1,950000
9,7.8,1,3,2,7,4.4,1,1,85,86,0,1,450000
10,8.3,2,3,2,9,4.8,1,1,82,88,0,1,1250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,8.4,2,3,1,8,4.5,1,1,84,87,1,1,900000
9992,8.0,2,1,2,7,4.4,1,1,75,72,1,1,400000
9996,7.4,0,1,0,9,4.8,0,0,84,67,1,1,750000
9997,8.4,1,3,0,7,4.8,1,1,79,81,0,1,550000
9998,8.9,0,3,2,8,4.8,1,1,71,85,0,1,900000

In [113]:
x = data.drop("salary",axis=1)
y=data["salary"]

y.value_counts()

salary
1000000    435
1050000    421
1100000    407
900000     400
950000     382
400000     315
800000     276
450000     269
1150000    233
500000     231
1300000    180
1250000    165
1200000    145
750000     141
700000      93
550000      77
850000      27
Name: count, dtype: int64

In [114]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import *
from sklearn.pipeline import Pipeline
import  numpy as np
lr=LinearRegression()
score =[]

xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=274)


# pipleline
steps = [("scaler",StandardScaler()),("lr",LinearRegression())]
pipe = Pipeline(steps)
pipe.fit(xtrain,ytrain)
pipe.predict(xtest)
r2 = pipe.score(xtest, ytest)
score.append(r2)




# Points to be notes:
# 0.8282154542404561 at 274 random state in L2 Ridge algorithm
# 0.828215607979491 at 274 state in L1 Lasso Regression algorithm and Linear Regression
# 0.8282155305347718 at 274 state in Linear Regression

In [115]:
r2 = pipe.score(xtest, ytest)
r2

0.8282155305347718

In [116]:
import joblib

joblib.dump(pipe,"model_salary.joblib")

['model_salary.joblib']

In [117]:
pipe.predict([[8.9, 0, 3, 2, 9, 4.0, 1, 1, 78, 82, 0, 1]])

c:\Users\Shree\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([1203141.0630537])

In [118]:
loaded_model = joblib.load("model_salary.joblib")

In [119]:
loaded_model.predict([[8.9, 0, 3, 2, 9, 4.0, 1, 1, 78, 82, 0, 1]])

c:\Users\Shree\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([1203141.0630537])